.header-desktop{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 2rem 4rem;
    align-items: center;
}

.header-desktop > div{
    justify-content: center !important;
}

.header-mobile{
    display: none;
    width: 100%;
    height: fit-content;
    padding: 1rem 1rem;
    align-items: center;
    margin-bottom: 3rem;
}

@media (max-width: 768px) {

    .header-desktop{
        display: none;
    }

    .header-mobile{
        display: flex;
    }

}